@import "slick";

h3, p {
  margin: 0;
}

.slider {
  width: 100%;
  margin: 0 auto;
  .slider-item {
    margin-right: 20px;
    outline: none;
    position: relative;
  }
}

.slide-wrap {
  position: relative;
}

.prev, .next {
  position: absolute;
  cursor: pointer;
}

.prev {
  top: 37%;

}
.next {
  top: 36%;
  right: 0;
  transform: rotate(180deg);
}

.slick-slide {
  opacity: 0.3;
  transition: all 0.5s linear;
}
.slick-center {
  opacity: 1;
  transition: all 0.5s linear;
}

.link-hover {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(27, 241, 173, 0.46);
  height: 100%;
  visibility: hidden;
  color: white;
  h3 {
    margin-top: 320px;
    margin-left: 25px;
    font-size: 28px;
  }
  p {
    margin-left: 25px;
    font-size: 12px;
  }
}

.slider .slick-center:hover {
  cursor: pointer;
  .link-hover {
    visibility: visible;
  }
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
}

.slogan {
  font-size: 86px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  .triangle {
    position: absolute;
    top: 180px;
    left: 0;
  }
  .plus {
    position: absolute;
    top: -40px;
  }
}