$default-font: 'RobotoRegular', sans-serif;

$topHeaderColor: #898989;
$btmHeaderColor: #555555;
$styleColor: #E5493A;
$lightColor: #FFFFFF;
$darkColor: #363636;
$lighterColor: #959595;
$mediumLighterColor: #707070;