$default-font: 'PTSansRegular', sans-serif;


$boldFont: 'PTSansBold', sans-serif;
$italicFont: 'PTSansItalic', sans-serif;




$accentColor: #3A6296;
$styleColor: #FFB900;

$linkColor: #6fa0c7;

$brightBgColor: #F8FCFD;


$brightTxt: #FFFFFF;

$darenTxt: #858585;

$dakerTxt: #464646;

$varColorTxt: #919191;

$varDarkerTxt: #757575;

$varDarkenTxt: #323232;

$darkTxt: #121212;

$lighterBgColor: #ECECEC;




