$default-font: 'PTSansRegular', sans-serif;

$bigTitleFont: 'ProximaNovaBold', sans-serif;
$titleFont: 'PTSansBold', sans-serif;
$italicFont: 'PTSansItalic', sans-serif;

$styleColor: #9f9acf;
$brightColor: #fefefb;
$textColor: #665f60;
$linkColor: #7d7a7c;

$lightBgColor: #EBEBEB;
$darkenBgColor: #DBDBDB;

$fancyColor: #E3E400;


